.button-one {
    background-color: black;
    color: white;
    font-weight: bold;
}

.button-two {
    background-color: yellow;
}

.button-one, .button-two {
    font-size: 28px;
    font-family: Helvetica, "Time New Roman", sans-serif;
}